@import "variables";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: $white;
}

.container {
  width: 1420px;
  margin: 0 auto;
  padding: 40px;
}

.menu {
  margin-bottom: 40px;
}
.menu__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.active_menu {
  color: $main;
}

.setting__container {
  width: 600px;
}
